:root {
    --background-color: #CAF0F8;
    --heading: #0077B6;
    --paragraph: #03045E;
    --accent-color1: #00B4D8;
    --accent-color2: #90E0Ef;
    --heading-font: 'Peralta';
    --paragraph-font: 'Pangolin';
}

