@media screen and (width > 1024px) {
    header {
        font-size: 26.24px;
        padding: 58.24px;
    }

    .call-to-action {
        max-width: 1060px;
        top: 50px;
        left: 50px;
    }

    .call-to-action h2 {font-size: 50.72px;}
    
    .call-to-action p {font-size: 33.8133px;}
    
    .call-to-action a {max-width: 300px;}

    
}