:root {
    --background-color: #CAF0F8;
    --heading: #0077B6;
    --paragraph: #03045E;
    --accent-color1: #00B4D8;
    --accent-color2: #90E0Ef;
    --heading-font: 'Peralta';
    --paragraph-font: 'Pangolin';
}

body, h1, h2, h3, p, ul, li, a, button {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {font-family: var(--heading-font), 'Arial', sans-serif; color: var(--heading);}

p, li, a, button, label, figcaption, input[type=submit] {font-family: var(--paragraph-font), 'Arial', sans-serif; color: var(--paragraph);}

header {
    background-color: var(--paragraph);
    padding: 3rem;
}

.title {color: var(--accent-color1);}

nav {
    height: 0;
    transition: height 0.5s ease-in;
    background: var(--accent-color1);
}

nav.show {height: 230px;}

#hamButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20pt;
    border: none;
    background: var(--paragraph);
    color: var(--accent-color1);
}

#hamButton:hover {
    color: var(--accent-color2);
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
}

a {
    transition: background .15s ease-in;
    text-decoration: none;
    color: var(--paragraph);
    font-family: var(--paragraph-font), 'Arial', sans-serif;
    font-size: 15pt;
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 1rem;
}

a:hover {background-color: rgba(0,0,0,0.2);}

a.active {
    background-color: rgba(0,0,0,0.2);
    font-weight: 800;
    text-decoration: underline;
}

#hamButton:active {color: var(--accent-color1);}

main {
    position: relative; 
    background-color: var(--background-color);
    padding-bottom: 10px;
}

.hero-image {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    max-height: 500px;
}

.call-to-action {
    width: 50vw;
    position: absolute;
    top: 5vw;
    left: 5vw;
}

.call-to-action * {
    text-align: left;
    color: white;
}

.call-to-action h2 {
    font-size: calc(15pt + 3vw);
}

.call-to-action p {
    margin-top: 15px;
    font-size: 12pt;
    font-size: calc(10pt + 2vw);
}

.call-to-action a {
    margin-left: 0;
    width: calc(100px + 6vw);
    text-align: center;
    background: var(--accent-color2);
    color: var(--paragraph);
    padding: .5rem 2rem;
    display: block;
    color: black;
    border-radius: 50px;
}

.call-to-action a:hover {
    background: var(--accent-color1);
}

.main-content {
    max-width: 1500px;
    width: 95%;
    margin: auto;
}

.main-content h1 {
    color: var(--heading);
    margin: 25px auto;
}

.main-content > p {
    margin: 2rem auto;
    color: var(--paragraph);
    text-align: justify;
}

.main-content .error {text-align: center; font-size: 1.5rem;}

.main-content > h2 {padding-top: 1rem;}

.main-content label {
    margin-top: 2rem;
    text-align: left;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 98%;
    padding: .5em 0;
}

#getDataButton, input[type="submit"] {
    display: block;
    margin: 10px auto;
    border: 2px solid var(--paragraph);
    padding: 1rem;
    border-radius: 5px;
    color: var(--paragraph);
    background-color: var(--accent-color2);
    transition: background .2s ease-in;
    width: 50%;
    margin-top: 1.5rem;
    font-size: 15pt;
}

#getDataButton:hover, input[type="submit"]:hover, .history-item button:hover {
    background-color: var(--paragraph);
    color: var(--accent-color2);
    cursor: pointer;
}

#currentWeather {
    margin: 2rem auto;
    margin-top: 0;
    border: 3px solid var(--paragraph);
    padding: 1rem;
    background-color: var(--accent-color1);
}

#weatherForecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.forecast-item, .history-item {
    border: 3px solid var(--accent-color1);
    list-style: none;
    background-color: var(--accent-color2);
    width: 95%;
    margin: 1rem auto;
    padding: 2rem 0;
}

.forecast-item h3 {color: var(--paragraph)}

#history {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.history-item * {
    margin: 10px;
}

.history-item h2 {color: var(--paragraph);}

.history-item button {
    padding: 1rem;
    width: 50%;
    border-radius: 50px;
    background-color: var(--accent-color1);
    border: 2px solid var(--paragraph);
    font-size: 1rem;
    transition: background .2s ease-in;
}

dialog button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.benefits h2 {
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.benefits p {text-align: justify;}

.the-form {margin-top: 1rem;}

#formResults {
    margin: 2vw;
    line-height: 50px;
}

#formResults li {
    text-align: left;
    margin: 2vw;
    font-size: 1.2rem;
}

.wind-info, .time-created {margin: 1rem .5rem 0 .5rem; font-size: 9pt;}

footer {
    margin: auto;
    padding: 1rem 0;
    background-color: var(--paragraph);
    display: flex;
    flex-direction: column;
}
  
#social-media {
    display: flex;
    justify-content: space-evenly;
}

#social-media a {
    width: calc(100px + 4vw);
    margin: 2rem 0;
    background-color: var(--accent-color2);
    border-radius: 50px;
}
  
#social-media a:hover {background-color: var(--accent-color1);}
  
#social-media a:active {background-color: var(--pigment-green);}
  
footer p {
    color: var(--accent-color1);
    font-size: 1.5em;
}